__pycache__
venv
.idea
.bash_history
.cache/
.local/
.python_history
nvidia-persistenced/
results/
rlight.egg-info
*.pyc
__pycache__/
xp/
gifs/
mre*
xp*
logs*
core-python-*
bug-report-*
dataset-*
*.sif
experiments/
.mypy_cache/
test-xp/
test-xp
sing_env.sh
episode*/

datasets
demos
instructions*.pkl

*.lock
.~lock.*
xvfb.log
sim2real
